* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.b {
    padding: 10px;
    margin: 10px;
}

.menu ul li a {
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
}

.menu ul li {
    display: inline-block;
    list-style-type: none;
    margin: 15px
}

.navbar {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Dropdown Parent */

.dropdown {
    position: relative;
}


/* Dropdown Menu Hidden */

.dropdown-menu {
    line-height: 0.1px;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    background: white;
    min-width: 100px;
    min-height: 200px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 100;
}


/* Dropdown links */

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: #444;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown-menu li a:hover {
    background: #f2f2f2;
}


/* Show on hover */

.dropdown:hover .dropdown-menu {
    display: block;
}

.banner {
    position: relative;
}

.content {
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 1rem 1rem;
    background-color: #444;
    border-left: 3px solid !important;
    border-color: #c62828 !important;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 40px;
}

.slider-container {
    position: relative;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 30px;
}

.slider::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 220px;
    background: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 120px;
    height: auto;
    margin-bottom: 15px;
}

.card h3 {
    background: #003366;
    color: white;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #003366;
    color: white;
    border: none;
    font-size: 22px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
}

.left {
    left: -20px;
}

.right {
    right: -20px;
}