.menu {
    border: 2px solid red;
}

.main {
    display: flex;
    justify-content: space-between;
}

.a {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    box-sizing: 15px;
}

.bigdiv {
    border: 3px solid black;
}

.subdiv1 {
    border: 2px solid blue;
}

.subsubdiv1 {}